:root {
  --color-cross: #50fa7b;
  --color-circle: #ff5555;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212529;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  column-gap: 5px;
  row-gap: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #191622;
}

.board div {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: #332d47;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  height: 100%;
}

.menu .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 30px 0;
}

.menu .info p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
