.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 610px;
    height: 610px;
    background-color: #000;
}

.board div {
    width: 200px;
    height: 200px;
    background-color: #fff;
    margin-bottom: 5px;
}

.playerX {
    background-image: url('./assets/cross.png');
}

.playerO {
    background-image: url('./assets/circle.png');
}